<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='unavailable.css') }}" media="screen,projection">
    <title>unavailable</title>
</head>
      <header >
        <h1 class="app_name">Emotional Regulation App</h1>
        <input type="checkbox" id="ham-menu">
          <label for="ham-menu">
            <div class="hide-des">
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </div>
          </label>
          <div class="full-page-blue"></div>
          <div class="ham-menu">
            <ul class="centre-text bold-text">
              <h1>Emotional Regulation App</h1>
              <li><a href="/new/homepage">Home</a></li>
              <li><a href="/new/profile">Profile</a></li>
              <li><a href="/unavailable">Journal</a></li>
              <li><a href="/unavailable">Activity List</a></li>
              <li><a href="/unavailable">About</a></li>
              <li><a href="/unavailable">Contact</a></li>
            </ul>
          </div>
    </header>
<body>
  <br><br><br><br><br><br>
  <h1 class="fail">This is not included in the prototype</h1>
    <form action="/new/homepage">
      <button value="Click here" type="submit">Return to homepage</button>
    </form>
</body>
</html>